.container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

button {
  width: 100%;
  margin-top: 1rem;
}

mat-card-title {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.calculated-values-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
